<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Smart Inspector</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--Leaflet CSS file-->
    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  
    <!--Leaflet Java script file-->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  
    <!--Two java script from https://asmaloney.com/2014/01/code/creating-an-interactive-map-with-leaflet-and-openstreetmap/ -->
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2'></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="#">Smart Inspector</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li><a href="https://github.com/shimolu523">Github</a></li>
            <li><a href="https://www.linkedin.com/in/molu-shi-9003301b">LinkedIn</a></li>
            <li><a href="https://docs.google.com/presentation/d/1sVI4iYmAhpdNQr5Wo2vOgppik6v82hGM7no0i2wlLic/pub?start=false&loop=false&delayms=3000">Slides</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<br><br>

  <div class="container">

    <div class = "starter-template" style= "text-align:center">

      <h2>Inspection area</h2>
      <p>Enter your 5 digit zip code to look up restaurants</p>
    
      <form  action="/output" method="GET">
        <div class="form-group">
          <label for="ID">Zip code:</label>
          <input type="text" id="ID" name='ID' placeholder="e.g. 02116">
        </div>
        <div>
          <button type="submit" class="btn btn-default btn-lg">Search this area</button>
        </div>
      </form>
    </div>

    <div class = "starter-template" style= "text-align:center">
      <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

  </div> <!-- /.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script>
      var restaurants_json = {{restaurants_json|tojson}};
      var restaurants_txtjson = {{restaurants_txtjson|tojson}};
      var map_center = {{map_center}}
      var numRest = Object.keys(restaurants_json['Index']).length
      var map = L.map('map').setView(map_center, 13);
      var layer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', 
                        {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, \
                                       <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, \
                                       Imagery © <a href="http://mapbox.com">Mapbox</a>',
                         maxZoom: 18,
                         id: 'shimolu523.p1g0bd7h',
                         accessToken: 'pk.eyJ1Ijoic2hpbW9sdTUyMyIsImEiOiJjaWswbjk3cjkzYWR5dm9raTgxaXhrejNmIn0.Z9EirFx5JhpxrXCAI65AJQ'
                        });
      layer.addTo(map);
      
      var circle = new Array(numRest);
      var color = new Array(numRest);
      var level = new Array(numRest);
      for ( var i=0; i < numRest; ++i ) {
            //color[i] = '#' + ( Math.pow( 2, 10 + parseInt( restaurants_json['VioType_pred'][i] ) ) ).toString(16);
            color[i] = '#' + ( 130 * parseInt( restaurants_json['VioType_pred'][i] ) ).toString(16);
            level[i] = 30 + 30 * parseInt( restaurants_json['VioLevel_pred'][i] );
            circle[i] = L.circle( [parseFloat(restaurants_json['locLati'][i]), parseFloat(restaurants_json['locLong'][i])], level[i], 
                                  { color: '#FFFFFF', fillColor: color[i], fillOpacity: 0.8 } );
            circle[i].addTo( map );
            var Popup  = "<dl><dt>"+restaurants_json['Name'][i]+"</dt>"
                         + "<dd> Vio.: " + restaurants_txtjson['VioType_pred'][i] + ", " 
                         + "Lev: " + restaurants_txtjson['VioLevel_pred'][i] +"</dd></dl>";
            circle[i].bindPopup( Popup );
          };
 
    </script>


  </body>
</html>
